/* region Common */

:root {
    --light_muted: #D9DADC;
    --secondary_dark: #363636;
    --warning_dark: #CD3D0F;
    --secondary_darker: #1F1F1F;
    --secondary_light: #BEBCBB;
    --secondary_lighter: #D9DADC;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

.card a {
    width: fit-content;
}


/* endregion Common */


/* #region Debug */

.debug .container {
    background-color: cornflowerblue;
    height: 100%;
}

.debug .row {
    height: 100%;
}

.debug [class^="col-"] {
    height: 100%;
    background-color: rgba(128, 255, 0, 0.479);
    border: 1px solid black;
}

.debug [class$="_top"] {
    height: 15%;
}

.debug [class$="_bottom"] {
    height: 85%;
}

.debug #site_header {
    height: 150px;
}

.debug .header_top {
    background-color: burlywood;
}

.debug .header_bottom {
    background-color: coral
}

.debug section {
    height: 500px;
    background-color: darkgray;
    margin-bottom: 2rem;
}

.debug [class^="slidebar_"] {
    height: 150px;
}

.debug [class^="slidebar_"] .row {
    height: 50%;
}

.debug .ps5_top {
    background-color: coral;
}


/* #endregion Debug */


/* #region Utilities */

.text_light_muted {
    color: var(--light_muted);
}

.text_secondary_dark {
    color: var(--secondary_dark);
}

.bg_secondary_dark {
    background-color: var(--secondary_dark);
}

.bg_warning_dark {
    background-color: var(--warning_dark);
}

.bg_secondary_darker {
    background-color: var(--secondary_darker);
}

.bg_secondary_light {
    background-color: var(--secondary_light);
}

.bg_secondary_lighter {
    background-color: var(--secondary_lighter);
}

.display_contents {
    display: contents;
}

.mt_10 {
    margin-top: 10rem;
}

.mt_6 {
    margin-top: 6rem;
}


/* #endregion Utilities */


/* #region #site_header */

.header_top {
    height: 2rem;
}

.navbar .dropdown-menu img {
    width: 3rem;
    aspect-ratio: 0.8;
    align-self: center;
}


/* #endregion #site_header */


/* #region #site_main */


/* #region jumbotron */

.jumbotron {
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* #endregion jumbotron */

.slidebar_6 img,
.new_release img {
    border-radius: 1rem;
}

.it_takes_two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


/* #endregion #site_main */